<template>
<div>
  <h3>Home Page</h3>
  <router-link active-class="" to="/main/user">Go to user</router-link>

  <button @click="logout" class="btn btn-primary">Logout</button>
</div>
</template>
<script>
import { mapActions } from 'vuex'
export default{
  name: 'Home',
  methods: {
    ...mapActions('user', [
      'clearCurrentUser'
    ]),
    async logout () {
      await this.$store.dispatch('user/clearCurrentUser')
        .then(response => {
          console.log(response)
          this.$router.push('Login')
        })
    }
  }
}
</script>
