<template src='./Login.html'></template>
<style scoped src='./Login.scss'></style>
<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import AuthenApi from '@/api/AuthenApi'

export default {
  name: 'Login',
  data: () => ({
    userFormData: {
      username: '',
      password: ''
    }
  }),
  computed: {
    ...mapState('user', [
      'accessToken'
    ]),
    ...mapGetters('user', [
      'isAuthenticated'
    ])
  },
  create () {

  },
  watch: {

  },

  methods: {
    ...mapActions('user', [
      'login',
      'setCurrentUser',
      'setAccessInfo',
      'clearCurrentUser'
    ]),
    async doLogin (evt) {
      evt.preventDefault()
      try {
        let result = await this.$store.dispatch('user/login', {
          'username': this.userFormData.username,
          'password': this.userFormData.password,
          'grant_type': 'password',
          'client_id': 'clientapp',
          'client_secret': 'password'
        })
        console.log(result)
        this.$toast.success('Login Success')
        // chuyển trang
        // this.$router.push('Home')
      } catch (err) {
        console.log(err)
      }
    },
    async doLogin2 () {
      try {
        let result = await AuthenApi.login(this.axios, {
          'username': this.userFormData.username,
          'password': this.userFormData.password,
          'grant_type': 'password',
          'client_id': 'clientapp',
          'client_secret': 'password'
        })
        console.log(result)
      } catch (err) {
        console.log(err)
      }
    },
    redirectToHome () {
      this.$router.push('Home')
    }
  }

}
</script>
