<div>
  <form @submit="doLogin" method="POST">
    <label for="">Username</label>
    <input type="text" v-model="userFormData.username">
    <label for="Password"></label>
    <input type="password" v-model="userFormData.password">
    <button type="submit">Login</button>
  </form>
  <table style="width: 100%;text-align: center;" v-if="isAuthenticated">
    <tr>
      <td>Token: </td>
      <td>
        <div style="width: 200px;overflow: scroll;">
          {{accessToken}}
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <router-link active-class="" to="/">Back to Home Page</router-link>
      </td>
    </tr>
  </table>
</div>